<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <style>
        body{ 
            font-family: sans-serif;
        }

        .names{
            padding: none;
            background-color: darkslateblue ;
            color: whitesmoke;
        }
        td,th{
            color: white;
        }
    </style>
</head>
<body>
    <div style="padding-left: 10%;background-color: gray;" >
   <p> <h1>BASIC BANKING SYSTEM</h1></p> </div>
   {% block content %}
   {% endblock  %}
</body>
</html>